 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@600&display=swap');

 /* font-family: 'Noto Sans Vithkuqi', sans-serif;*/

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   color: #ffffff;
    /* background-color:black; */
    background-color: rgb(32, 32, 32);
    font-family: 'Noto Sans Vithkuqi', sans-serif;
 }


 li,a,button{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#00ADB5;
    /* background-color: black; */
    background-color: rgb(32, 32, 32);
    text-decoration: none;
 }

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;

    /* background-color: black; */
    background-color: rgb(32, 32, 32);
    border:none;
   
}

.logo
{
    cursor: pointer;
    height:80px;
    margin-left: 20px;
    /* background-color: black; */
    background-color: rgb(32, 32, 32);

}

ul
{
    /* background-color: black; */
    background-color: rgb(32, 32, 32);
}

.nav_links{
    list-style: none;
}

.nav_links li
{
    display:inline-block;
    padding: 0px 40px;
}

.nav_links li a
{
    transition: all 0.3s ease 0s;
}

.x:hover
{
    background-color: rgb(213, 227, 238);
    opacity: 2;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

#y:hover
{
    background-color:#00ADB5;
    padding:10px;
}

button
{
    padding: 9px 25px;
    margin-right: 10px;
    background-color:#00ADB5;
    color:white;
    border: none;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3s ease 0s;

}

.intro 
{   display:inline;
    width: 665px;
    height: 390px;
    top: 190px;
    left: 78px;
    margin-left:10px;
    border-radius: 10px;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-size:14px;

 color:white;


}

.big1
{
   
    font-size: 58px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.dark1
{
    color: #00ADB5;
   
}

.light1
{
    color:#00FFF5;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    
}
.btn
{
    margin:10px;
    border:none;
    border-radius: 10px;
    
}
.btn1
{
    background-color: #00ADB5;
    color: white;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

.btn2
{
    background-color: #00FFF5;
    color: white;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

.btn:hover
{
    padding:30px;
}

#portfolio
{
    font-size: 14px;
    padding-left: 20px;
}
.works
{
    padding-left: 20px;
    color: #00ADB5;
}
.container2
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}
.po
{
    margin:50px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
    height:400px;
    width: 300px;
    background-color:#00ADB5;
    border: none;
    border-radius: 20px;
    /* box-shadow: 10px 10px 20px rgb(108, 109, 110); */
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    transition: 0.2sec;
    

}

.po:hover{
    /* box-shadow: 5px 5px 5px rgb(89, 90, 90); */
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.i
{
    margin-top: 50px;
    border:solid black 3px 3px;
    border-radius: 10px;
}

.j
{
    background-color: #00ADB5;
    margin-top: 35px;

}

.k 
{
    height: 250px;
}
.z
{
    color: #ffffff;
    font-size: 20px;
    text-shadow: black 2px;
    background-color: #00ADB5;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    display: block;
}

.footer-content
{
    padding:10px;
    width:100%;
    height: 210px;
    /* background-color: rgb(32, 32, 32); */
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 10px 10px 0px 0px;
    
}
.foot
{
    background-color: rgb(24, 24, 24);
}

.pl
{
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
}

.cen 
{
    text-align: center;
opacity:100;
}
.m
{
    height:200px;
    margin-top:50px;
}
.k
{
    /* background-color: rgb(32, 32, 32); */
    background-color: rgb(24, 24, 24);
    height: 100px;
    position: absolute;
    margin-top: 10px;
    margin-left: 31%;
}

.idk
{
    /* background-color: rgb(32, 32, 32); */
    background-color: rgb(24, 24, 24);
    position: absolute;
    margin-top: 45px;
    margin-left: 39%;
}

.last
{
    display: inline-flex;
    margin-left: 70%;
    /* margin-bottom: 10%; */
    list-style: none;
    /* background-color: rgb(32, 32, 32);  */
    background-color: rgb(24, 24, 24);
    color:#00FFF5;
}

.lasttt
{
    /* background-color: rgb(32, 32, 32);  */
    background-color: rgb(24, 24, 24);
    /* background-color: red; */
    color:#00FFF5;
    position: relative;
    /* margin-top: 50px; */
    /* margin-bottom: -5px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    border: none;
    border-radius: 10px;
    

}

.lasttt:hover
{
    color: white;
}
/*animationnss */

.ani
{

    height: 240px;
    width:240px;
    position:relative;
    margin:auto;
    margin-left:60%;
    margin-top:5%;
    justify-items: end;

}

.sq1, .sq2, .sq3, .sq4
{
    height:152px;
    width: 152px;
    position:relative;
    background-color: #00FFF5;
    transition: 2s ease-in;
}

.sq1
{
   top:160px;
   left:160px;
   background-color: #00ADB5;
}

.sq2
{
    bottom:160px;
    animation: fold2 5s infinite;
    transform-origin: bottom;

}

.sq3
{
 right:160px;
 background-color: #00ADB5;
 animation: fold1 5s infinite;
 transform-origin: right;
}

.sq4
{
    top:160px;
    animation: fold 5s infinite;
    transform-origin:top;
}

@keyframes fold {
    0%
    {
        transform: rotateX(0deg);
    }

    10%
    {
        transform: rotateX(-180deg) translateY(8px);
    }

    70%
    {
        transform: rotateX(-180deg) translateY(8px);
    }

    80%
    {
        transform: rotateX(0deg);
    }
}

@keyframes fold1 {
    10%
    {
        transform: rotateY(0deg);
    }

    20%
    {
        transform: rotateY(-180deg) translateX(-8px);
    }

    60%
    {
        transform: rotateY(-180deg) translateX(-8px);
    }

    70%
    {
        transform: rotateY(0deg);
    }
}

@keyframes fold2{
    20%
    {
        transform: rotateX(0deg);
    }

    30%
    {
        transform: rotateX(180deg) translateY(-8px);
    }

    50%
    {
        transform: rotateX(180deg) translateY(-8px);
    }

    60%
    {
        transform: rotateX(0deg);
    }
}